:root {
    --orange-color: #f44336;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:  'Roboto';
    transition: all 100ms ease-in-out;
}

body {
    background-color: var(--background-color);
}

html[data-dark-mode="off"] {
    --background-color: #f1f1f1;
    --bg-box-color: #fff;
    --font-color: #000;
    --border-header: #aaa;
    --option-buy-color: #000;
    --option-buy-title: #fff;
    --input-bg-color: #ccc;
    --placeholder-color: #777;
    --input-border-color: #616161;
    --footer-font-color: #606060;
    --button-color: #000;
    --button-hover-color: #333;
    --social-media-color: invert(42%) sepia(8%) saturate(14%) hue-rotate(344deg) brightness(84%) contrast(91%);
}
html[data-dark-mode="on"] {
    --background-color: #1f2933;
    --bg-box-color: #3e4c59;
    --font-color: #fff;
    --input-border-color: #fff;
    --placeholder-color: #ddd;
    --border-header: #aaa;
    --option-buy-color: #616e7c;
    --option-buy-title: #171e22;
    --button-color: #616e7c; 
    --button-hover-color: #394149;
    --footer-font-color: #fff;
    --social-media-color: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

/* Default-Sec */

.container {
    max-width: 1060px;
    padding: 10px;
    margin: auto;
}

.default-cont {
    padding: 35px 0;
    margin: auto;
}

.default-cont h2 {
    margin-bottom: 25px;
    font-weight: 300;
    color: var(--font-color);
}
.default-cont p {
    font-weight: 300;
    color: var(--font-color);
}
.default-cont p span {
    font-weight: bold;
}

.material-icons {
    color: var(--font-color)
}


/* Header */

header {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid;
    border-color: var(--border-header);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    height: 100%;
}

.right-header, .left-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.left-header h2 {
    color: var(--orange-color);
    font-weight: 400;
}

.right-header img {
    height: 25px;
    cursor: pointer;
    filter: var(--social-media-color);
}


/* Header - Dark Mode */

.dark-mode-div {
    width: 40px;
    height: 20px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: var(--orange-color);
    background-position: right;
    background-size: 20px;
}

.dark-mode-dot {
    height: 18px;
    width: 18px;
    margin-left: 1px;
    background-color: #fff;
    border-radius: 50%;
    transform: translateX(0);
    transition: transform 150ms linear;
}

.dark-mode-dot.dark-mode-on  {
    background-color: #1f2933;
    transform: translateX(20px);
} 

.checkbox-dark-mode {
    display: none;
}

/* Main Section */

.main-section {
    min-height: calc(90vh - 50px);
    background-image: url(../images/london.jpg);
    background-position: center;
    background-size: cover;
}

.main-container {
    width: 100%;
    padding: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-box {
    background-color: var(--bg-box-color);
    max-width: 880px;
    width: 100%;
    overflow-x: hidden;
    border-radius: 10px;
}

.select-buy {
    width: 100%;
    height: 45px;
    display: flex;
}

.option-buy {
    flex: 1;
    background-color: var(--option-buy-color);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    font-size: 14px;
    transition: background-color 300ms ease-in-out;
}

.option-buy span {
    color: var(--option-buy-title);
}

h5.title-option {
    color: var(--option-buy-title);
}

.slider-options-buy {
    width: 300%;
    transition: transform 300ms ease-in-out;
    display: flex;
    justify-content: center;
}

.options-box {
    flex: 1;
    padding: 30px 10px;
}

.option-buy.active, .option-buy:hover {
    background-color: var(--orange-color);
}

.options-box h2 {
    font-weight: 300;
    margin: 10px ;
    color: var(--font-color);
}

.flex-inputs {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

form {
    width: 100%;
}

.flex-line {
    flex-basis: calc(50% - 5px);
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.flex-line label {
    color: var(--font-color);
}

.flex-line-button {
    flex-basis: 50%;
}

.hotel-box .flex-line:first-child {
    flex-basis: 100%;
}

.text-input, .form-button {
    height: 40px;
    padding: 5px 10px;
    border: 1px solid;
    border-color: var(--input-border-color);
    outline: none;
    border-radius: 5px;
    transition: border-color 150ms ease-in-out;
    font-size: 14px;
}

.text-input {
    background-color: var(--bg-box-color);
}

.text-input:focus {
    border-color: var(--orange-color);
}

.form-button {
    width: 185px;
    font-size: 15px;
    background-color: var(--button-color);
    color: #ffffff;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    transition: background-color 150ms ease-in-out;
}
.form-button:hover {
    background-color: var(--button-hover-color)
}

.text-input::placeholder, .date-input {
    color: var(--placeholder-color);
    font-size: 16px;
}

.date-input {
    color: var(--placeholder-color);
    border-color: var(--input-border-color);
}

/* Good Offers */

.img-box-gf img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.img-box-gf {
    padding: 5px;
    position: relative;
}
.img-box-gf:nth-child(1) {
    grid-area: cinqueterre;
}
.img-box-gf:nth-child(2) {
    grid-area: newyork;
}
.img-box-gf:nth-child(3) {
    grid-area: sanfran;
}
.img-box-gf:nth-child(4) {
    grid-area: pisa;
}
.img-box-gf:nth-child(5) {
    grid-area: paris;
}

.images-good-offers {
    display: grid;
    grid-template-columns: 50% repeat(2, 25%);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "cinqueterre newyork sanfran"
    "cinqueterre pisa paris";
    width: 100%;
}

p.city-name {
    position: absolute;
    color: #fff;
    bottom: 10px;
    margin-left: 10px;
    font-weight: 600;
}

/* Explore Nature */

.en-imgs {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 10px;
}

.en-img-box {
    width: calc(50% - 5px);
    height: 350px;
    flex: 1;
    background-color: var(--bg-box-color);
    min-width: 200px;
    border-radius: 10px;
}

.en-img-box img {
    width: 100%;
    height: 55%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.en-text-box {
    width: 100%;
    height: 45%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    color: var(--font-color);
}

.en-text-box h3, .en-text-box h4, .en-text-box a, .en-text-box {
    font-weight: 300;
}

.en-text-box h4 {
    color: var(en-title-font-color);
}

.en-text-box a {
    display: block;
    margin-left: 5px;
    text-decoration: none;
    color: var(--font-color);
}

.en-text-box a:hover {
    text-decoration: underline;
}

/* Get Offers */

.get-offers {
    width: 100%;
}

.get-offers-cont {
    background-color: var(--bg-box-color);
    padding: 10px;
    color: var(--font-color);
    font-weight: 300;
    border-radius: 10px;
}

.get-offers-cont h2 {
    color: var(--font-color);
    font-weight: 300;
}

.get-offers-cont p {
    margin-bottom: 10px;
    margin-top: 20px;
}

.get-offers-cont form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.get-offers-cont button {
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background-color: var(--orange-color);
    border: none;
    margin-top: 10px;
    transition: background-color 150ms ease-in-out;
    cursor: pointer;
}

.get-offers-cont button:hover {
    background-color: #c9372d;
}

/* Contact */

.contact-infos {
    margin-top: 25px
}

.contact-icons {
    color: var(--font-color);
    float: left;
    margin-right: 20px;
}

.contact-info {
    margin-top: 10px;
}

.contact-form {
    width: 100%;
    margin-top: 25px;
}

.contact-form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form .text-input {
    border: 1px solid #ccc;
}

.contact-form .text-input:focus {
    border: 1px solid var(--orange-color);
}

.contact-form .form-button {
    background-color: var(--button-color);
    transition: background-color 150ms ease-in-out
}

.contact-form .form-button:hover {
    background-color: var(--button-hover-color)
}

/* Footer */

.footer-cont h3 {
    font-weight: 300;
    color: var(--footer-font-color);
    margin-bottom: 35px;
}

.footer-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media {
    display: flex;
    gap: 7px;
    margin-bottom: 40px;
    align-items: center;
}

.social-media img {
    height: 22px;
    cursor: pointer;
    filter: var(--social-media-color)
}

.social-media img:nth-child(3) {
    height: 25px;
}

.create-by {
    color: var(--footer-font-color);
    font-weight: 300;
}

.create-by a {
    color: inherit
}

@media (max-width: 480px) {
    .flex-line-button {
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    .flex-line {
        flex-basis: 100%;
    }
    .flex-inputs {
        align-items: center;
    }

    .images-good-offers {
        display: flex;
        flex-direction: column;
    }

    .contact-form .form-button {
        margin: auto;
    }
    .option-buy {
        font-size: 13px;
        gap: 5px;
    }
}